annotated-types==0.6.0
asgiref==3.7.2
cffi==1.16.0
click==8.1.7
cryptography==42.0.5
Django==4.2
django-cors-headers==3.13.0
django-ninja==1.1.0
dnspython==2.6.1
email_validator==2.1.1
h11==0.14.0
idna==3.6
psycopg2-binary==2.9.6
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
PyJWT==2.8.0
sqlparse==0.4.4
typing_extensions==4.10.0
uvicorn==0.20.0
